.heading{
    display: flex; 
    padding: 20px;
}
.heading button{
    border: none;
    background-color: transparent;
    outline: none;
    cursor: pointer;
}
.heading_flag{
    flex: 1;
    margin-right: 16px;

}
.heading_gini,.heading_name,.heading_population,.heading_area{
    flex: 4;
    padding: 20px;
    color: var(--text-color-secondary);
    font-weight: 500;

    display: flex;
    justify-content: center;
    align-items: center;
}
.heading_gini{
    align-self: flex-start;

}

.row{
    display: flex;
    padding: 20px;

    text-align: center;
    align-items: center;
    
    background-color: var(--background-color-light);
    border-radius: 8px;
    margin-bottom: 16px;

    box-shadow: var(--box-shadow);
    font-weight: 500;

    transition: transform 200ms ease-in-out,box-shadow 200ms ease-in-out; 

}

.row:hover{
    transform: translate(-4px);
  --box-shadow:0px 4px 16px rgba(0,0,0, 0.1);

}

.heading_arrow{
    color: var(--primary-color);

    display: flex;
    justify-content: center;
    align-items: center;

    margin-left: 2px;
}

.heading_name{
    justify-content: flex-start;
    display: flex;
}

.name{
    flex: 4;
    text-align: left;
}

.population,.area,.gini{
    flex: 4;
}

.flag{
    flex:1;
    margin-right: 16px;
    border: 1px solid var(--text-color-secondary);
    height: 42px;
}

/* .flag img{
    width: 100%;
} */

@media  screen and (max-width:720px){
    
    .flag,.area,.gini,.heading_flag,.heading_area,.heading_gini{
       display: none;
    }
    
}
